<mat-toolbar class="main-header mat-elevation-z4">
  <div class="header-container">
    <div class="brand-section">
      <button mat-icon-button><mat-icon>menu</mat-icon></button>
      <h1 class="app-title">USUÁRIOS</h1>
    </div>

    <div class="search-section">
      <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" 
               placeholder="Pesquisar..." 
               #searchInput 
               (keyup)="onSearch(searchInput.value)"
               class="custom-search-input">
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</mat-toolbar>